@import "rem";
@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;700&display=swap");

#root {
  min-height: 100vh;
  font-family: "Roboto Mono", monospace;

  .wrapper {
    display: flex;
    flex-direction: column;
    min-height: inherit;
    overflow: hidden;

    background-color: #222;
    font-size: 18px;
    color: #d3d3d3;

    transition: all 0.3s ease-in-out;

    main {
      flex: 1 1 100%;
      margin-bottom: 30px;
    }

    .container {
      max-width: 1230px;
      width: 100%;
      margin: 0 auto;
      padding: 0 15px;
    }
  }
}

a {
  color: #d3d3d3;
  text-decoration: underline;
}
